@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inter:ital,opsz@0,14..32;1,14..32&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:wght@400;700&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inter:ital,opsz@0,14..32;1,14..32&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:wght@400;700&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inter:ital,opsz@0,14..32;1,14..32&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:wght@400;700&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

  //font-family: "Lato", sans-serif;  
  //font-family: "Rubik", sans-serif;
  // font-family: "Josefin Sans", sans-serif;
  
  $lato: "Lato", sans-serif; 
  $rubik: "Rubik", sans-serif;
  $josefin: "Josefin Sans", sans-serif;
  $font-regular: 400;
  $font-bold: 700;