
$white : #ffffff;
$black : #000000;
$purple: #8a059e;
$red: #f00008;
$blue: #0e15cc;
$green: #18b304;
$orange: #f77a05;
$yellow: #e0cb09;
$cyan: #09e0b1;

$light-gray: #eeeeee;
$dark-gray: #444444;


